<section class="container px-4 mx-auto">
  <div class="sm:flex sm:items-center sm:justify-between">
    <h2 class="text-lg font-medium text-gray-800 dark:text-white">All Users</h2>

  </div>

  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead class="bg-gray-50 dark:bg-gray-800">
            <tr>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <div class="flex items-center gap-x-3">
                  <span>User name</span>
                </div>
              </th>

              <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Email
              </th>

              <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                User Privilege
              </th>

              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Block/Unblock
              </th>
              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
               Details
              </th>
              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Action
              </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
            <% @users.each do |user| %>

                <tr>

                  <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                    <div>
                      <h2 class="font-normal text-gray-800 dark:text-white "><%= user.username %></h2>
                    </div>
                  </td>
                  <td class="px-12 py-4 text-sm font-normal text-gray-700 whitespace-nowrap">
                    <%= user.email %>
                  </td>
                  <td class="px-12 py-4 text-sm font-normal text-gray-700 whitespace-nowrap">
                    <%= user.is_admin? ? "Admin" : "User" %>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap"><%= user.is_block? ? "Block" : "Unblock" %></td>
                  <td class="px-4 py-4 text-sm text-gray-500 underline dark:text-gray-300 whitespace-nowrap"><a  href="/user_details/<%= user.id %>">Show</a></td>
                  <td class="px-4 py-4 text-sm text-gray-500 underline dark:text-gray-300 whitespace-nowrap">
                    <%= button_to "Delete User", "/delete_user/#{user.id}", method: :delete, class: "underline text-red-500" %>
                  </td>

                </tr>

              <% end %>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</section>