<h1>Item Tags</h1>

<table>
  <thead>
  <tr>
    <th>Item</th>
    <th>Tag</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @item_tags.each do |item_tag| %>
    <tr>
      <td><%= item_tag.item.name %></td>
      <td><%= item_tag.tag.name %></td>
      <td><%= link_to 'Show', item_tag %></td>
      <td><%= link_to 'Edit', edit_item_tag_path(item_tag) %></td>
      <td><%= link_to 'Destroy', item_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Item Tag', new_item_tag_path %>
