<%= form_for  item, url: collection_items_path(collection),method: :post, html: { multipart: true } , class: "w-full"  do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation" class="mb-6 bg-red-50 border-l-4 border-red-400 p-4 text-red-700 rounded">
      <h2 class="font-bold mb-2"><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul class="list-disc list-inside">
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :name, class: "w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="mb-4">
    <% parsed_data = @collection.dynamic_field %>
      <% parsed_data.each do |key,value| %>
        <div>
          <p><%= value %>: (<%= key %>)</p>
          <input type="<%= value %>">
        </div>
      <% end %>
     </div>

  <div class="mt-6">
    <%= form.submit "Save", class: "w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105" %>
  </div>
<% end %>
